body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
}

.main {
  display: flex;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
}

.main > div {
  border: 2px solid yellow;
  width: 50%;
  display: flex;
}

.main > div:last-child {
  flex-direction: column;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.image-container img {
  height: 100%;
  flex-shrink: 1;
}

.right > div {
  max-height: calc(100vh - 33%);
}
